* {
  margin: 0px;
}

html {
  height: 100%;
  background-image: linear-gradient(#0046ae, #9198e5);
}

.bigpart {
  position: absolute;
  width: 300px;
  height: 450px;
  background: linear-gradient(0deg, rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
}
.bigpart:hover {
  background: linear-gradient(0deg, rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

.bigpart {
  border-radius: 20px;
  margin-left: 85vh;
  margin-top: 15vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
  opacity: initial;
  margin-top: -10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 6px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.coverimg {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: 0.5s;
}





